@charset "utf-8";
/* CSS Document */
.podnaslovi{
	color:black; 
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size: 16px;
	line-height: 8px;
	width: 250px; 
	background-color: hotpink;
	background-color: hotpink;
	padding: 10px; 
}
a:link{
	color: black;
	background-color: white;
	line-height: 25px;
	padding: 3px;
}
a:hover{
	color: red;
}
.paragraf1{
	width: 600px; 
	background-color: dodgerblue;
	padding: 10px;
}
.pozadina{
	background-image: url("background.jpg");
}
.liste{
	background-color: ghostwhite;
	width: 400px;
	padding: 5px
	
}
.novi_blok{
	margin: 30px
}

